
.contact {
  color: white;
  padding: 60px 20px;
  text-align: center;
  position: relative;
  margin-top: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.66);
  background: linear-gradient(135deg, #0f1f26, #261332, #071320);
}

.contact-icons {
  /* Set the icons display/color */
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.contact-icons a {
  /* Icons are white to show up on the gray background */
  color: white; 
  font-size: 32px;
  transition: color 0.3s, transform 0.3s;
}

.contact-icons a:hover {
  color: #00bcd4;
  transform: scale(1.2);
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  justify-content: center;
}

.contact-icon {
  font-size: 20px;
  color: #00bcd4;
}

.contact a {
  text-decoration: none;
  color: #00bcd4;
  font-weight: 500;
}